LogFormat "{ \
      \"host\":\"vtechworks.dev.lib.vt.edu\", \
      \"path\":\"/var/log/apache2/logstash_access_log\", \
      \"tags\":[\"vtechworksdev\",\"vtechworks.dev.lib.vt.edu\"], \
      \"message\": \"%h %l %u %t \\\"%r\\\" %>s %b\\\"%{Referer}i\" \"%{User-Agent}i\", \
      \"timestamp\": \"%{%Y-%m-%dT%H:%M:%S%z}t\", \
      \"clientip\": \"%a\", \
      \"duration\": %D, \
      \"status\": %>s, \
      \"request\": \"%U%q\", \
      \"urlpath\": \"%U\", \
      \"urlquery\": \"%q\", \
      \"method\": \"%m\", \
      \"bytes\": %B, \
      \"vhost\": \"%v\" \
      \"remote_proxy\": \"%{X-Forwarded-For}i %l %u %t\\\"%r\\\" %>s %b\\\"%{Referer}i\" \"%{User-Agent}i\"  \
    }" logstash_apache_json

CustomLog "/var/log/apache2/logstash_access_log" logstash_apache_json
SetEnvIf X-Forwarded-For "^.*\..*\..*\..*" forwarded
CustomLog "/var/log/apache2/access_log" combined env=!forwarded
CustomLog "/var/log/apache2/access_log" proxy env=forwarded
