<VirtualHost *:80>
	ServerAdmin	{{apache_server_admin}}

	# name the server sends back to the client
	# ... this should match the name Tomcat's
	# application thinks it is running on (<Host...)
	ServerName		{{apache_server_hostname}}
	ServerAlias		{{apache_server_aliases}}

	### BEGIN: cache settings ###
	### Depends on mod_headers being loaded:
	###             sudo a2enmod headers
	###             sudo apache2ctl graceful
	### See: http://httpd.apache.org/docs/2.2/mod/mod_headers.html
    <IfModule mod_headers.c>
        # force media to revalidate
        <FilesMatch "\.(xml|txt|js|css|gif|jpe?g|png|swf)$">
            ExpiresDefault A3600
            Header append Cache-Control "must-revalidate"
        </FilesMatch>

        # forbid caching of sensitive pages
        <LocationMatch "/(login|password-login|register|profile)">
            # recommended to use both no-cache and no-store
            # see: http://palpapers.plynt.com/issues/2008Jul/cache-control-attributes/
            Header append Cache-Control "no-cache, no-store"
        </LocationMatch>
    </IfModule>
	### END: cache settings ###

	# DON'T TURN ProxyRequests ON!  Bad things will happen
	# http://httpd.apache.org/docs/2.2/mod/mod_proxy.html#access
	# http://www.akadia.com/services/prevent_abuse_proxy.html
	ProxyRequests	Off
	# pass the Host: header from the incoming request to the proxied host,
	# instead of the hostname specified in the ProxyPass line
	ProxyPreserveHost On
	ProxyPass			/	http://localhost:8081/
	ProxyPassReverse	/	http://localhost:8081/

	<Proxy *>
		allow from all
	</Proxy>

    # protect dspace's solr statistics (we only need to access them from localhost)
    <Location "/solr">
        Order   deny,allow
        Deny    from all
        Allow   from 127.0.0.1
    </Location>

	# As long as Shibboleth module is installed, enable all Shibboleth/mod_shib related settings
   <IfModule mod_shib>
       # Shibboleth recommends turning on UseCanonicalName
       # See "Prepping Apache" in https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPApacheConfig
       UseCanonicalName On

       # Most DSpace instances will want to use Shibboleth "Lazy Session", which ensures that users
       # can access DSpace without first authenticating via Shibboleth.
       # This section turns on Shibboleth "Lazy Session". Also ensures that once they have authenticated
       # (by accessing /Shibboleth.sso/Login path), then their Shib session is kept alive
       <Location />
         AuthType shibboleth
         ShibRequireSession Off
         require shibboleth
         # If your "shibboleth2.xml" file specifies an <ApplicationOverride> setting for your
         # DSpace Service Provider, then you may need to tell Apache which "id" to redirect Shib requests to.
         # Just uncomment this and change the value "my-dspace-id" to the associated @id attribute value.
         #ShibRequestSetting applicationId my-dspace-id
       </Location>

       # If a user attempts to access the DSpace shibboleth login page, force them to authenticate via Shib
       <Location "/shibboleth-login">
         AuthType shibboleth
         ShibRequireSession On
         # Please note that setting ShibUseHeaders to "On" is a potential security risk.
         # You may wish to set it to "Off". See the mod_shib docs for details about this setting:
         # https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPApacheConfig#NativeSPApacheConfig-AuthConfigOptions
         # Here's a good guide to configuring Apache + Tomcat when this setting is "Off":
         # https://www.switch.ch/de/aai/support/serviceproviders/sp-access-rules.html#javaapplications
         ShibUseHeaders On
         require valid-user
       </Location>

       # Ensure /Shibboleth.sso path (in Apache) can be accessed
       # By default it may be inaccessible if your Apache security is tight.
       <Location "/Shibboleth.sso">
         Order deny,allow
         Allow from all
         # Also ensure Shibboleth/mod_shib responds to this path
         SetHandler shib
       </Location>

       # Finally, you may need to ensure requests to /Shibboleth.sso are NOT redirected
       # to Tomcat (as they need to be handled by mod_shib instead).
       # NOTE: THIS SETTING IS LIKELY ONLY NEEDED IF YOU ARE USING mod_proxy TO REDIRECT
       # ALL REQUESTS TO TOMCAT (e.g. ProxyPass / ajp://localhost:8009/)
       # ProxyPass /Shibboleth.sso !
   </IfModule>

</VirtualHost>
